@import "tailwindcss";

:root {
  --background: #00143F;
  --foreground: #FFD700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-imperial-gold: #FFD700;
  --color-imperial-blue: #00143F;
  --color-imperial-cyan: #00BFFF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
